%body
	%div= haml :navbar								
	%div
		.container
			.hero-unit
				%h1
					Localizer. Visualizer. Controller.
				%h2
					You can call us SpotLVC
				%p
					We provide real time localization information for the SunSpot Crawler, as well as
					control capabilities!
				%p
					%a.btn.btn-primary.btn-large{:HREF => '/login'} Log In!

			.row
				.span6
					%h2
						Control
					%p
						Our site provides the capability to start and stop the crawler, as well as provide a speed and/or destination
						for the crawler.  You must be a member to use this capability, contact us to become a member!
					%p
						%a.btn{:href => '/control'} Control	
				.span6
					%h2
						Localization
					%p
						The site provides a realtime view onto the position of the car in the hallway
					%p
						%a.btn{:href => '/localizer'} Localizer
			%hr

			%div= haml :footer
			
	/ Placed at the end of the document so the pages load faster
	%script{ :type => "text/javascript", :src =>"/jquery-1.9.1.min.js"}
	%script{ :type => "text/javascript", :src =>"/bootstrap/js/bootstrap.min.js"}