%body{ :onLoad => "loadLocalizer()"}
	%div= haml :navbar							
	.container
		.hero-unit
			:javascript
				// Globals for the graphics
				var car = new Image();
				var carData = new Image();
				var back = new Image();
				var debug = true;
				var ctx;
				var canvas;
				var xPos;
				var yPos;
				var oldX;
				var oldY;
				var canvasWidth = 700;
				var canvasHeight = 700;
				// The jquery plot
				var plot;
				var plotData = [];
				// The onload method
				function loadLocalizer()
				{
					// Get the canvas element.
					canvas = document.getElementById("localizerCanvas");
					// Make sure you got it.
					if (canvas.getContext)
					// If you have it, create a canvas user inteface element.
					{
						if (debug == true)
						{
							console.log("Successfully retried canvas");
						}
						// Position the canvas nicely
						var elementWidth = window.innerWidth;
						canvas.style.position = "absolute";
						canvas.style.left = (elementWidth - canvasWidth) / 2;
						// Specify 2d canvas type.
						ctx = canvas.getContext("2d");
						// Paint it black.
						ctx.fillStyle = "white";
						ctx.rect(0, 0, canvasWidth, canvasHeight);
						ctx.fill();	
						// Draw the car in an initial position
						car.onload = function() {
							ctx.drawImage(car, 30, canvasHeight - 30);
							oldX = 30;
							oldy = 30;
							xPos = 30;
							yPos = 30;
							// Save the car
							carData = ctx.getImageData(30,canvasHeight - 30,40,20);
							// Save the initial background.
							back = ctx.getImageData(0, 0, 40, 20);
						}
						car.src = 'images/car1e.png';
					}
					else
					{
						console.log("Error retrieving canvas");
					}
					// Once that is done, I do the jquery plotting part, and this gets update elsewhere
					plot = $.plot("#plotDistance", [ plotData ], {
						series: {
							shadowSize: 0	// Drawing is faster without shadows
						},
						yaxis: {
							min: 0,
							max: 700
						},
						xaxis: {
							min: 0,
							max: 700
						}
					});
				}
				// Position updater, repeatedly called by the eventSource
				function updateCarPosition(x, y)
				{
					// The position is update everytime data is received.  Repaints the background and foreground
					// Put old background down to erase old car
					var tempX = oldX; //Weird hack that I need
					var tempY = oldY;
					oldX = xPos;
					oldY = yPos;
					xPos = x;
					yPos = y;
					// Put ship in new position.
					ctx.clearRect(0, 0, canvas.width, canvas.height);
					ctx.fill();
					// ctx.putImageData(back, tempX, canvasHeight - tempY);
					ctx.putImageData(carData, xPos, canvasHeight - yPos);
				}
				// The Jquery plotting event
				function updatePlot(x,y)
				{
					// Adds to the data source and redraws the plot
					plotData.push( [x, y] );
					plot.setData([ plotData ]);
					plot.draw();
				}
				// The event source, and set up for updates
				var source=new EventSource("/localizer/datastream");
				source.onmessage=function(event) 
				{
					var data = event.data.split(' ');
					var x = parseInt(data[0]);
					var y = parseInt(data[1]);
					document.getElementById("time").innerHTML = "The current position is " + x + " " + y;
					updateCarPosition(x,y);
					updatePlot(x,y);
				};
			%h1
				Localization
			%br
			%div{ :style => "min-height:700px; height:auto; height:700px;" }
				%canvas{:id => "localizerCanvas", :width => "700", :height => "700"}
			%br
			%div{:class => "alert alert-warning", :id => "time"}
				The position has not yet been updated
			%br
				The localizer above represents the ground.  Bottom left corner is (0,0), top right corner is (700,700).
			%br
				The beacons are located at (0,0), (0,390), (390,390) in centimeters.
			%div{ :id => "plotDistance", :style => "min-height:400px; height:auto; height:400px;" }
		%hr

		%div= haml :footer

	/ Placed at the end of the document so the pages load faster
	%script{ :type => "text/javascript", :src =>"/flot/jquery.min.js"}
	%script{ :type => "text/javascript", :src =>"/flot/jquery.flot.js"}
	%script{ :type => "text/javascript", :src =>"/bootstrap/js/bootstrap.min.js"}