.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{:href => '/'} SpotLVC
			.nav-collapse
				%ul.nav
					%li
						%a{:href => '/'}Home
					%li
						%a{:href => '/login'}Login
					%li
						%a{:href => '/localizer'}Localizer
					%li
						%a{:href => '/control'}Control
					%li
						%a{:href => '/about'}About
					%li
						%a{:href => '/contact'}Contact
						